/* Reset */

	html, body, div, span, h1, h2, h3, p, a, b, u, center, ul, li, form, label, article, details,footer, header, menu, nav, section{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
	}

	article, footer, header, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ul {
		list-style: none;
	}
	
	ins{
		text-decoration: none;
		border-bottom-style: solid;
		border-color: #fc3b00;
		border-bottom-width: 0.1em;
	}


/* Box Model */

	*{
		box-sizing: border-box;
	}

/* Basic */

	html {
		font-size: 13pt;
	}

	body {
		background-color: rgb(255, 253, 253);
		color: #444;
		font-family: "Poppins", sans-serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.65;
	}

	a {
		text-decoration: underline;
		color: #fa7a02;
		width: 100%;
	}

	b {
		font-weight: 600;
		color: #555;
	}

	p {
		margin: 0 0 1rem 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		line-height: 1.5;
		margin: 0 0 1rem 0;
	}

	h2 {
		font-size: 1.75rem;
	}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: 0rem;
		border-bottom-color: rgba(144, 144, 144, 0.25);
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
	}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-center h2{
		color: #000;
	}

	.align-right {
		text-align: right;
	}


/* Box */

	.box {
		background: #FFF;
		border-color: rgba(144, 144, 144, 0.25);
		display: block;
		width: 20%;
		float: left;
		height: 280px;
	}

	#one .box{
		border: solid;
		border-width: 0.01em;
		border-color: rgb(172, 172, 172);
		width: 25em;		
		height: 12em; 
		margin: 0.8em;
		font-size: 0.8em;
	}

	#one .leave_msg_input_box{
		background-color: white;
		width: 20%;
		height: 20em;
		position: absolute;
		z-index: 2;
		left: 20em;
		top: 47em;
		padding: 2em;
		box-shadow: 0px 0px 30px 0px #888888;
    	border: none;
	}

		#one .leave_msg_input_box span{
			display: inline;
			padding: 1em 0em;
		}

		#one .leave_msg_input_box input{
			width: 100%;
			height: 16%;
			background-color: #a6a6a6;
		}

			#one .leave_msg_input_box span:nth-of-type(3){
				display: inline-flex;
				color: orangered;
			}

			#one .leave_msg_input_box span:nth-of-type(3) input{
				width: 2em;
				height: 1.2em;
			}

		#one .leave_msg_input_box input[type=button]{
			color: white;
			background-color: #fc3b00;
			
		}
			 


	#one .content{
		width: 82%;
		float: left;
		position: relative;
		padding-bottom: 4%;
		padding-left: 38em;
	}

		#one .content h2{
		width: inherit;
		text-align: left;
		}	
		#one .content p{
			width: inherit;
			text-align: left;
		}

			#one .box .vname .msg_box_left{
				float: left;
				width: 10%;
				text-align: left;
				border: solid;
				border-width: 0.05em;
				margin: 1em;
			}

				#one .box .vname img{
					padding: 0.5em;
				}

			#one .box .vname .msg_box_right{
				float: right;
				width: 80%;
				text-align: left
			}
				
				#one .box .vname p{
					padding: 0em 2em;
				}

	#three .box{
		display: inline-block;
		padding: 4em 2em;
		margin: 0em;
		height: auto;
		width: 33%;
	
	}

	#three .box .stat ul{
		display: inline-flex;
	}
		#three .box .stat li:nth-child(2){
			float: right;
			padding-left: 12em;
		}

		#three .box .cname ins{
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		}

		#three .box .stat .price{
			color: #fa7a02;
		}

	#six .box{
		display: inline-block;
		padding: 1em 1em;
		margin: 0% 2%;
		height: 100%;
	}

	.box .vname{
		text-align: center;
		margin: 0em;
		}

		.box .vname p{
			margin: 0;
		}
			
	.box .social_icon{
		padding: 0em 2em;
		}

/* Image */
	
	.banner a{
		width: 100%;
	}

	.banner img{
		z-index: 1;
	}

	.box .image{
		width: 100%;
		height:  100%;
	}

	img{
		width: inherit;
		height: inherit;
	}

	.banner>article>img{
		width:100%;
		background-color: red;
	}

	#four .play img{
		position: absolute;
		left: 40em;
		top: 250em;
		width: 10em;
		height: 10em;
		z-index: inherit;
	}

	.social_icon img{
		width: 3em;
		height: 3em;
		padding-top: 10px;
	}

	#six .social_icon img{
		width: 1.5em;
		height: 1.5em;
		padding-top: 10px;
	}


/* List */

	ul {
		margin: 0;
		padding-left: 1em;
		display: flex;

		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		-webkit-padding-start: 0px;
	}

		ul li {
			padding-left: 0.5rem;
			text-align: left;
		}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}



/* Section/Article */

	section.special, article.special {
		text-align: center;
	}


/* Wrapper */

	.wrapper {
		padding: 4rem 0 4rem 1rem ;
		margin: 0;
	}

		.wrapper.style2 {
			background-color: #f2f2f2;
			color: #a6a6a6;
			padding: 4rem 0 4rem 1rem;
			display: inline-block;
			width: 100%;
		}

		#one.wrapper.style2{
			background-color: rgb(255, 255, 255);
			padding: 1rem 5em;
		}
		
			#one.wrapper.style2 .message_6_part1{
				display: inline-flex;
				width: 100%;
				padding: 0em 15em;
			}
			
			#one.wrapper.style2 .message_6_part2{
				display: inline-flex;
				width: 100%;
				padding: 0em 15em;

			}

		#two.wrapper.style2{
			background-color: rgb(223, 217, 217);
			padding: 1rem;
		}
		
		#two.wrapper.style2 .content .align-center{
			padding: 0em 35em;
		}

		#two.wrapper.style2 .about_3{
			display: flex;
			padding: 0em 16em 0em 15em;
		}

		#two.wrapper.style2 .about_left{
			display: inline-block;
			width: 40%;
			padding: 4em;
		}

			#two.wrapper.style2 .about_left div{
				display: block;
				width: 100%;
			
			}

		#two.wrapper.style2 img {
			display: block;
			width: 100%;
			height: 100%;
			margin:  0em;
			padding: 4em 0em;
		}

		#two.wrapper.style2 .about_right {
			display: inline-block;
			width: 38%;
			padding: 4em;
		}

			#two.wrapper.style2 .about_right div{
				display: block;
				width: 100%;
			
			}

		#two.wrapper.style2 .box{
				background-color: rgb(223, 217, 217);
				height: inherit;
				display: inline-block;
				width: 20%;
			}
		
				#two.wrapper.style2 .box .vname{
					text-align: left;
				}

					#two.wrapper.style2 .box .vname p{
					color: rgb(73, 73, 73);
					}

					#two.wrapper.style2 .box .vname b{
						color: #000;
					}
					

		#three.wrapper.style2 {
			padding: 4em 18em;
			background-color: #ffffff;
		}

		#three.wrapper.style2 .content .align-center{
			padding: 0em 16em;
		}

		#five.wrapper.style2 .gallery_6{
			display: flex;
		}

		#five.wrapper.style2 .content .align-center{
			padding: 0em 36em;
			width: inherit;
		}

			#five.wrapper.style2 .gallery_6 ul{
				display: inline-flex;
				width: 100%;
				height: 20em;
			}

			#five.wrapper.style2 .gallery_6 ul li:nth-child(odd) {
				display: block;
				width: inherit;
				height: inherit;
				padding: 0px;
			}
			
			#five.wrapper.style2 .gallery_6 ul li:nth-child(even) {
				display: block;
				width: inherit;
				height: 10em;
				padding: 0px;
			}

				#five.wrapper.style2 .gallery_6 li .box{
					display: block;
					width: inherit;
					height: inherit;
				}

		#six.wrapper.style2 {
			padding: 4rem 18rem;
			width: 100%;			
		}

		#six.wrapper.style2 .content .align-center{
			padding: 0em 18em;
		}

		#six.wrapper.style2 .vol_4{
			display: flex;	
		}

			.wrapper.style2 h1, .wrapper.style2 h2,{
				color: #000;
			}


			.wrapper.style2 hr {
				border-bottom-color: rgba(0, 0, 0, 0.15);
			}

		.wrapper.style3 {
			background-color: #000;
			color: #ffffff;
			display: inline-block;
			padding: 4em 14em 4em 16em;
		}
			.wrapper.style3 div {
			display: block;
			float: left;	
			width: 45%;
			font-size: .75rem;
			font-weight: 300;
			letter-spacing: .25rem;
			padding: 0em 1em 0em 5em;
  		  	line-height: 1.2em;
			}

/* Header */

	#header {
		background: rgba(0, 0, 0, 0.975);
		line-height: 2.25em;
		width: 100%;
	}

	#header ul li{
		padding-left: 3.0rem;
		color: #fa7a02;
		display: inline-grid;
		text-align: center;
		}
	
	#header .menu ul{ 
		display: inline-block;
		width: 100%;
	}

	#header .contact_menu{
		display: inline-flex;
		width: 100%;
	}


		#header .contact_menu .wrapper.style3{
			display: inline-block;
			width: 100%;
			padding: 0em 17em;
		}

			#header .contact_menu .wrapper.style3 li{
				display: inline;
				color: #ffffff;
			}

				#header .contact_menu .wrapper.style3 li a{
					color: #ffffff;
				}

				#header .contact_menu .wrapper.style3 li img{
					width: 2em;
					height: 2em;
					padding-top: 1em;
				}

				#header .contact_menu .wrapper.style3 li img[src$="call.png"]{
					width: 3em;
					height: 3em;
					padding-top: 0em;
				}

		#header .social_icon{
			line-height: inherit;
			padding-right: 18em;
		}

			#header .social_icon li{
				display: inline;
				padding-left: 0.5rem;
			}
	
		#header .links{
			padding: 0.8em 17em;
			background-color: #ffffff;
		}

		#header .menu .links li a{
			color: black;
			text-decoration: none;
			line-height: initial;
		}

			#header .menu .links li a img{
				width: 15px;
				height: 15px;
			}

		#header .links li:first-child a{
			padding-top: 1em;
		}

		#header .links li:first-child b{
			color: rgb(243, 63, 9);
			background-color: #ffffff;
		}

		#header .links li:last-child a{
			color: rgb(243, 63, 9);
			padding: 0.6em;
			margin-left: 3em;
			border: solid;
		}

	
/* Menu */

	#menu {

		transform: translateX(20rem);

		transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;

		background: rgba(0, 0, 0, 0.95);
		box-shadow: none;
		color: #000;
		height: 100%;
		max-width: 80%;
		padding: 3rem 2rem;
		right: 0;
		top: 0;
		width: 20rem;
	}

/* Banner */

	.banner {
		background-color: hsl(309, 16%, 61%);
	}
		

		.banner > article {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
			left: 0;
			opacity: 0;
			text-align: center;
			top: 0;
			width: 100%;
		}

		.banner fieldset{
			position: absolute;
			top: 22em;
			left: 33em;
			z-index: 2;
			padding: 0.35em 0.625em 0.75em 0em;
			width: 38%;
			color: #ffffff;
			text-align: center;
			
		}

		.banner .legend1{
			font-weight: 600;
			color: #FFF;
			font-family: serif;
			font-size: 3em;
			padding: 0em 1em;
		}

			.banner .legend1 ins{
			text-decoration: none;
			border-bottom-style: solid;
			border-color: #fc3b00;
			}

		.banner .legend2 { 
			position: absolute; 
			bottom: -1.4em;
			left: 12em; 
			z-index: 4;
			background:transparent; 
			border: solid;
			border-color: white;
			border-width: 0.1em;
			font-weight: 400;
			font-size: 1.2em;
			width: 8em;
			padding: 0.5em;
		}

		.banner fieldset p{
			padding: 1em;
		}

		#fieldset_line {
			position: absolute;
			top: 10.4em;
			left: 13.6em;
			width: 11em;
			height: 3.3em;
			z-index: 3;
			background: url(images/slide01.jpg);
			background-position: 61.6em -25.4em;
		}


/* Containers */

.container {
	margin-left: auto; 
	margin-right: auto;
	width: 100%;
	padding: 2em 20em 4em 18em;
	display: inline-flex;
}

/* Footer */

	#footer {
		padding: 0;
		background: rgb(53, 53, 53);
		text-align: center;
	}

		#footer ul{
			display: inline-block;
			padding-right: 5em;
			width: 100%;
		}

		#footer ul li:first-child{
			line-height: 4em;
		}

		#footer ul li{
			line-height: 2.5em;
		}

		#footer .container ul:nth-child(4){
			display: inline-block;
			width: inherit;
			padding: 0em;
		}

		#footer ul a{
			display: inline;
			
		}

		#footer a {
			color: rgba(253, 253, 253, 0.966);
			text-decoration: none;
		}

		#footer .container .quicklink a{
			width: 100%;
		}

		#footer .container .tags li:first-child{
			line-height: 1em;
		}

		#footer .container .tags li{
			float: left;
			padding: 0em;
			margin: 0.2em;
		}


		.newsletter{
			background-color: rgb(216, 44, 1);
			padding: 0.8em 18em;
		}

			.newsletter span{
				display: inline-block;
				width: 100%;
			}

			.newsletter span label{
				padding: 0em 1em;
				height: inherit;
				font-family: serif;
			}

				.newsletter span b{
					font-size: 2.2em;
					color: whitesmoke;
				}
				
				.newsletter span label:nth-child(2){
					display: inline-flex;
					margin-top: 1em;
				}

				.newsletter span label:nth-child(3){
					display: inline-flex;
					margin-top: 1em;
				}

			.newsletter span label input{
				width: 33em;
				height: 3em;
				padding-top: 0.5em;
			}
				.newsletter span label input[type="button"]{
						background-color: rgb(216, 44, 1);
						text-decoration-color: #fdfdfd;
						color: #f2f2f2;
						font-size: 0.8em;
						width: 12em;
						font-weight: 200;
				}
		

		#footer .copyright {
			background-color: #000;
			color: rgb(255, 254, 254);
			font-size: 0.8em;
			margin: 0;
			padding: 1em 0em;
			text-align: center;
		}

/* Media Type Reset*/

@media screen and (max-width: 480px) {

	html, body{
		font-size: 10pt; 
		width: 100%;                                                                                                                                                                                                                                                                                                                                                                               
	}
}

@media screen and (max-width: 920px) {

	html {
		font-size: 11pt;                                                                                                                                                                                                                                                                                                                                                                                
	}
}

@media screen and (max-width: 1680px) {

	html, body{
		font-size: 12pt;
		
	}
}

/* Mobile Design upto 480px */

@media screen and (max-width: 480px) {


#header{
	display: inline-block;
	width: 100%;
}

#header div{
display: inline-block;
width: 100%;
}

	#header .contact_menu {
    display: inline-block;
    width: 100%;
	}

.banner{
	display: block;
	width: 100%;
}

#one.wrapper.style2{
	display: inline-block;
	width: 100%;
}

	#one .leave_msg_input_box{
		width: 100%;
		padding: 0em;
		margin: 0;
	}

	#one .content{
		width: 100%;
		padding: 0em;
		margin: 0;
	}

	#one .message_6_part1{
		width: 100%;
		padding: 0em;
		margin: 0;
	}

	#one .message_6_part2{
		width: 100%;
		padding: 0em;
		margin: 0;
	}




#two.wrapper.style2{
	display: inline-block;
	width: 100%;
}

	#two.wrapper.style2 .content{
		width: 100%;
		padding: 0em;
		margin: 0;
	}
		#two.wrapper.style2 .content .align-center {
			padding: 0em;
		}

	#two.wrapper.style2 .about_3{
		width: 100%;
		padding: 0em;
		margin: 0;
	}

#three.wrapper.style2{
	display: inline-block;
	width: 100%;
}

#four.wrapper.style3{
	display: inline-block;
	width: 100%;
}

#five.wrapper.style2{
	display: inline-block;
	width: 100%;
}


#six.wrapper.style2{
	display: inline-block;
	width: 100%;
}

#footer{
	display: inline-block;
	width: 100%;
}

}

/* Tablet Design 480px to 920px */

@media screen and (max-width: 920px){
	#four .play img{
	position: absolute;
	left: 21em;
	top: 228em;
	width: 8em;
	height: 8em;
	z-index: inherit;
	}
}

/* Laptop Design 920px to 1620px */


/* Desktop Design 1620px above */
